/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";
.error_msg{
	color: red;
	font-size: 10px;
}
.marginbottom{
	margin-bottom: 15px;
}