<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col col-md-12">
				<h1>Welcome to the City Bikes APP</h1>
				<p>
					This App here will provide you the two basic functionalities 
				</p>
				<ol type="i">
					<li>Get Free Bikes in a particular city station</li>
					<li>Find out parking Slots in a particular city station</li>
				</ol>	
				<div class="row">
					<div class="col-md-12 text-center marginbottom">
						<a routerLink="bikes" routerLinkActive="active" class="btn btn-primary"> Get Free Bikes</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center marginbottom">
						<a routerLink="parking" routerLinkActive="active" class="btn btn-success"> Get Parking SLots</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>